/* improved the overall layout
and cnetered several divs */

body {
    font: 54px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    /* improvement: removed the bulletpoint/number
    index thing for better aesthetics */
    list-style: none;
    line-height: 0.85em;
    margin-left: auto;
    margin-right: auto;
  }

  .historyButton{
    /* improvement: history buttons now will
    be bigger in size*/
    height: 40px;
    width: 270px;
    font-size: 25px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 5px solid #777;
    float: left;
    font-size: 124px;
    font-weight: bold;
    line-height: 175px;
    height: 175px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 175px;
  }
  
  .square:hover {
    /* improvement: square will change color (highlight)
    on mouse hover */
    cursor: pointer;
    background-color: beige;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  .game{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

  }

  .game-board {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

  }
  
  .game-info{

    align-items: center;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
  }



.game-info-status {
    text-align: center; 
    /* for some reason, display: flex will
    cause the text message to be positioned
    a bit to the left. It's misaligned */
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1em;
  }
  
  